@charset "utf-8";
/* CSS Document */

body{
    background:white;
}

.navbar{
    background: #90afc5;
    box-shadow: 3px 3px 10px #888888;
    border: none;
}

.logo{
    font-family:'Roboto Slab', serif;
    font-size: 30px;
    color: white;
}

#dropdown{
color: white;
}

h2,p.h2,.h5{
    color: #68829e;
    font-size: 15px;
    padding: 25px;
}

a{
    color: #68829e;
    font-size: 25px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}


#secondLevelLinks
{
    text-align: center;
}

#questionBody{
    border: 1px solid #e5e5e5;
    width: 100%;
    color: #999999;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    background: #f1f1f2;
    color: #2a3132;
        }

#answerBody{
    border: 1px solid #e5e5e5;
    width: 100%;
    color: #999999;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    background: #f1f1f2;
    color: #2a3132;
        }

#questionTitle{
    width: 100%;
    border: 1px solid #e5e5e5;
    width: 400px;
    color: #2a3132;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
    background: #f1f1f2;
}

#form-signin-heading{
    font-family: 'Roboto Slab', serif;
    color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    //margin-top:90px;
    background-color: #90afc5;

        -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
            font-family:Tahoma, Geneva, sans-serif;
    color:#990000;
    font-weight:lighter;
    box-shadow: 1px 1px 1px grey;
}

.sign-in-label{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

/*Sign in styling below*/
.form-signin .form-signin-heading{
    color:white;
    font-family: 'Roboto Slab', serif;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
    //border:solid red 1px;
    margin-top:110px;
}

.submit{
    height:30px;
}

#btn-submit{
    height:45px;
}

.h5{
    font-family:'Roboto Slab',Verdana, Geneva, sans-serif;
}

h1{
    font-family:'Roboto Slab',Verdana, Geneva, sans-serif;
    color: #68829e;
}

.questionTable{
    font-size: 20px;
    width: 100%;
}

.questionTable td,tr{
    text-align: left;
    padding-top: 20px;
    padding-left: 1px;
    width: 80%;
}

.questionTable a{
    font-size: 20px;
    padding-left: 1px;
    width: 80%;
}

.header{
    text-align: left;
}

#responseBody{
    background:#f2f2f2;
    font-size: 150%;
}

#signIn{
    font-family: 'Roboto Slab', serif;
    color: white;
}


td{
    font-family: 'Roboto Slab';
   width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
   
}

.glyphicon.glyphicon-remove {
    color: rgba(199, 167, 9, 0.86);
}

.glyphicon.glyphicon-ok {
    color: #93af92;
}

.glyphicon.glyphicon-chevron-up {
    font-size: 40px;
    padding-left: 10px;
    color: #f2f2f2;
}

.glyphicon.glyphicon-check { 
    font-size: 40px;
    padding-left: 10px;
    color: #f2f2f2;
}

.glyphicon.glyphicon-flag { 
    font-size: 40px;
    padding-left: 10px;
    color: #93af92;
}

.glyphicon.glyphicon-chevron-up:hover {
    color: #93af92;
}

.glyphicon.glyphicon-check:hover {
    color: #93af92;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}